:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body{
    padding-top: 10rem;
    background-image: url("../Im치genes/Fondo\ Pizza.jpg");
}

header{
    background-color: white;
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

@font-face {
    font-family: "Dark Twenty";
    src: url("../Fuentes/Dark\ Twenty.otf");
}

.Nombre{
    font-size: 5.5rem;
    font-family: "Dark Twenty";
    font-weight: bold;
    color: green;
    margin-left: 2rem;
}

header nav ul{
    display: flex;
    list-style-type:none;
    margin-right: 2rem;
}

.barranav{
    height: 5rem;
    width: 12rem;
    border-right: solid black 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color:green;
    font-size: 1.7rem;
    font-weight: bold;  
    font-family: "Lemonmilk";
}

header nav ul:first-child{
    border-left: solid black 0.2rem;
}

.contenidonav:hover{
    color: red;
    transform: translateY(-0.2rem);
}

.contenidonav:active{
    color: green;
}

@font-face {
    font-family: "Lemonmilk" ;
    src: url("../Fuentes/LEMONMILK-Regular.otf");
}

.Titulo{
    display: flex;
    width: 100%;
    height: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 5.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Lemonmilk";
    color: whitesmoke;
}


.pizzas{
    display: grid;
    width: 94rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,30rem);
    gap: 4rem;
    margin: auto;
}

.pizza{
    display: flex;
    padding: 3rem;
    border: 0.2rem solid black;
    border-radius: 5%;
    background-color: rgba(255, 254, 254, 0.918);
}


.pizza img{
    border-radius: 5%;
    width: 60%;
}



.pizza div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 3rem;
}


.pizza div h2{
    display: flex;
    font-size: 2rem;
    width: 100%;
    justify-content: center;
    font-family: "lemonmilk";
}

.pizza div p{
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    font-family: "lemonmilk";
}



.Titulo2{
    display: flex;
    width: 100%;
    height: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 5.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Lemonmilk";
    color: whitesmoke;

}

.empanadas{
    display: grid;
    width: 94rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,30rem);
    gap: 4rem;
    margin: auto;
    margin-bottom: 4rem;
}

.empanada{
    display: flex;
    padding:3rem;
    border: solid black 0.2rem;
    border-radius: 5%;
    background-color: rgba(255, 254, 254, 0.918);
}


.empanada img{
    width: 60%;
    border-radius: 5%;
   
}

.empanada div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 3rem;
}


.empanada div h2{
    display: flex;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: "Lemonmilk";
}

.empanada div p{
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    font-family: "Lemonmilk";
}

footer{
    width: 100%;
    height: 10rem;
    background-image:url("../Im치genes/Fondo1.png");
}

.RedesSociales{
    margin: auto;
    width: 25rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.RedesSociales h2{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    font-family: "Lemonmilk";
}

.Iconos ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.Iconos a{
    font-size: 3rem;
    color: gray;
}

.Contactos ul{
    text-align: center;
    font-size: 1.1rem;
    color: white;
    font-family: "Lemonmilk";
    list-style-type: none;
}

.Iconos li:hover{
   transform: translateY(-0.2rem);
}

.fa-whatsapp:hover{
    color: #4dc247;
}

.fa-instagram:hover{
    background:radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285AEB 90%);
    color: white;
    border-radius: 20%;
}

.fa-twitter:hover{
    color: #55acee;
}

.fa-facebook:hover{
    color: #3b5998;
}

@media all and (min-width:600px) and (max-width:1023px){


    body{
        padding-top: 15rem;
        background-image: url("../Im치genes/Fondo\ Pizza.jpg");
    }

    header{
        background-color: white;
        height: 15rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
    }

    .Nombre{
        font-size: 5.5rem;
        font-family: "Dark Twenty";
        font-weight: bold;
        color: green;
        margin-left: 0;
    }


    .pizzas{
        display: grid;
        width: 45rem;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(8,30rem);
        margin: auto;
        gap: 4rem;
    }


    .empanadas{
        display: grid;
        width: 45rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,30rem);
        margin: auto;
        gap: 4rem;
        margin-bottom: 4rem;
    }


    }


    
@media all and (min-width:330px) and (max-width:599px){

    body{
        padding-top: 0;
        background-image: url("../Im치genes/Fondo\ Pizza.jpg");
    }

    header{
        background-color: white;
        height: 28rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: none;
        position: static;
        top: 0;
    }

    .Nombre{
    display: flex;
    align-items: center;
    height: 8rem;
    font-size: 3.5rem;
    font-family: "Dark Twenty";
    font-weight: bold;
    color: green;
    margin-left: 0;
    }

    header nav {
    width: 100%;
    }   

    header nav ul{
    display: flex;
    flex-direction: column;
    list-style-type:none;
    margin-right: 0;
    }   

    .barranav{
    text-decoration: none;
    color:green;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;  
    font-family: "Lemonmilk";
    border-top: solid black 0.2rem;
    border-right: none;
    }

    header nav ul:first-child{
    border-left: none;
    border-bottom: solid black 0.2rem;
    }

    .Titulo{
        display: flex;
        width: 100%;
        height: 8rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-size: 4.5rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: "Lemonmilk";
        color: whitesmoke;
    }
   

    .pizzas{
        display: grid;
        width: 32rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,23rem);
        margin: auto;
        gap:3rem;
    }

    .pizza{
        display: flex;
        padding: 2rem;
        border: 0.2rem solid black;
        border-radius: 5%;
    
    }


    .pizza div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 2rem;
    }

    
    .pizza div h2{
        display: flex;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        justify-content: center;
        font-family: "lemonmilk";
    }
    
    .pizza div p{
        display: flex;
        font-size: 1.12rem;
        justify-content: center;
        font-family: "lemonmilk";
    }

    .Titulo2{
        display: flex;
        width: 100%;
        height: 8rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-size: 4.5rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: "Lemonmilk";
        color: whitesmoke;
    
    }
    .empanadas{
    display: grid;
    width: 32rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,23rem);
    margin: auto;
    gap: 3rem;
    margin-bottom: 3rem;
    }

    .empanada{
    display: flex;
    padding:2rem;
    border: solid black 0.2rem;
    border-radius: 5%;
    }

    
    .empanada div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    }


    .empanada div h2{
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    font-family: "Lemonmilk";
    }

    .empanada div p{
    display: flex;
    font-size: 1.12rem;
    text-align: center;
    justify-content: center;
    font-family: "Lemonmilk";
    }

}

